.main-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: url("./background.mp4");
  margin: 0;
}

body {
  margin: 0;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}
.video-wrapper {
  border: 2px solid #000;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.portal-container {
  position: relative;
  width: 350px;
  height: 250px;
  background-color: rgb(225, 225, 225);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 30px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}