.list {
  color: var(--light-1);
}

.form-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.form-title {
 color: var(--light-1);
}

.form-input {
  background-color: var(--secondary-bg);
  border-radius: 10px;
  padding: 10px;
  color: var(--light-1);
}

.form-submit {
  width: 208.067px;
}